{% macro password_input(input_id, input_name, input_class='', placeholder='', required=false, autocomplete='') %}
<div class="password-input-wrap">
  <input
    type="password"
    class="form-control{% if input_class %} {{ input_class }}{% endif %}"
    id="{{ input_id }}"
    name="{{ input_name }}"
    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
    {% if required %}required{% endif %}
    {% if autocomplete %}autocomplete="{{ autocomplete }}"{% endif %}
  >
  <button
    type="button"
    class="password-toggle-btn"
    data-target="{{ input_id }}"
    aria-label="Şifrəni göstər/gizlə"
  >
    <i class="bi bi-eye"></i>
  </button>
</div>
{% endmacro %}
